@import '~dhtmlx-scheduler/codebase/dhtmlxscheduler_flat.css';
:host{
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
 }
 #calendar /deep/ {
 	.fc-event, .fc-event-dot{
 			// .fc-timeline-event{
				background-color: #E6766F;
				border: 0px;
				border-radius: 14px;
				box-sizing: border-box;
				padding: 6px;
				opacity: 1;
				margin: 10px 1px;
				margin-top: 0;
			}
 	.fc-highlight{
 		background-color: #62A8F6;
	    opacity: 1;
	    height: 20px;
	    top: initial!important;
	    bottom: 0!important;
	    border-radius: 20px;
 	}
 	.fc-ltr .fc-time-area .fc-chrono{

 		 th{
 			border: none
 		 }
 	}
 	.fc-content{
 		.fc-title{
 			display: block;
	 		 .contains{
	 		 	float: right;
	 		 	 i {
				    font-size: 15px;
				    width: 20px;
				    height: 20px;
				    border-radius: 50%;
				    background-color: #00a039;
				    padding: 2px;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    margin-right: 2px;
				    float: left;
				    &.disabled{
						color: #ffffff;
						background-color: #c30000!important;
				    }
	 		 	 }
	 		 }
 		}
	}
 }