<div class="wrapper">

  <div class="sidebar" [ngClass]="{'small': smallMode}" data-color='red' data-image="">
    <div  class="small-mode" (click)="smallMode = !smallMode">
      <i class="material-icons" [ngClass]="{'rotate': smallMode}">keyboard_arrow_left</i>
    </div>
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../../../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel " [ngClass]="{'not-logged-in': !auth.loggedIn,'custom-width': (smallMode && auth.loggedIn)}" >
    <app-navbar ></app-navbar>
    <router-outlet></router-outlet>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
