
<div class="col-md-12 text-left padding">
    <div class="col-md-1"></div>
    <div class="col-md-10 container-fluid padding-space">
      <img src="../../../assets/img//logo.png">
      <div class="col-md-12 form-inline">
      <p class="main-text ">
  
  
        You are now leaving Next Journey to grant  <b style="text-transform:capitalize">{{social}}</b> access for your marketing module
        <span class="">
           <i class="fa fa-angle-right one"></i>
        <i class="fa fa-angle-right two"></i>
        <i class="fa fa-angle-right three"></i>
        </span>
        <!--<span>-->
  
        <!--</span>-->
      </p>
  
      </div>
     <div class="col-md-12">
       <a class="link-text" (click)="goToSocial()">
         if you didn't redirect automatically, Click Here
       </a>
     </div>
    </div>
    <div class="col-md-1 padding">
      <div class="black-side"></div>
    </div>
  
  </div>
  