<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<mat-tab-group animationDuration="0ms">
				<mat-tab label="nj-dev" (click)="serverLogs = [];getLogs('nj-dev')" >
					<div class="logs-wrp"  *ngFor="let log of serverLogs">
						<ul>
							<li>time_local</li>
							<li>{{log.time_local}}</li>
						</ul>
						<ul>
							<li>remote_addr</li>
							<li>{{log.remote_addr}}</li>
						</ul>
						<ul>
							<li>client_addr</li>
							<li>{{log.client_addr}}</li>
						</ul>
						<ul>
							<li>request_type</li>
							<li>{{log.request_type}}</li>
						</ul>
						<ul>
							<li>request</li>
							<li>{{log.request}}</li>
						</ul>
						<ul>
							<li>request_uri</li>
							<li>{{log.request_uri}}</li>
						</ul>
						<ul>
							<li>query_string</li>
							<li>{{log.query_string}}</li>
						</ul>
						<ul>
							<li>status</li>
							<li>{{log.status}}</li>
						</ul>
						<ul>
							<li>geoip_city</li>
							<li>{{log.geoip_city}}</li>
						</ul>
						<ul>
							<li>geoip_lat</li>
							<li>{{log.geoip_lat}}</li>
						</ul>
						<ul>
							<li>geoip_long</li>
							<li>{{log.geoip_long}}</li>
						</ul>
						<ul>
							<li>body_bytes_sent</li>
							<li>{{log.body_bytes_sent}}</li>
						</ul>
						<ul>
							<li>total_bytes_sent</li>
							<li>{{log.total_bytes_sent}}</li>
						</ul>
						<ul>
							<li>request_time</li>
							<li>{{log.request_time}}</li>
						</ul>
						<ul>
							<li>http_referrer</li>
							<li>{{log.http_referrer}}</li>
						</ul>
						<ul>
							<li>http_user_agent</li>
							<li>{{log.http_user_agent}}</li>
						</ul>
					</div>
				</mat-tab>
				<!-- <mat-tab label="upload" (click)="serverLogs = [];getLogs('image-upload')">
					<div class="logs-wrp"  *ngFor="let log of serverLogs">
						<ul>
							<li>time_local</li>
							<li>{{log.time_local}}</li>
						</ul>
						<ul>
							<li>remote_addr</li>
							<li>{{log.remote_addr}}</li>
						</ul>
						<ul>
							<li>client_addr</li>
							<li>{{log.client_addr}}</li>
						</ul>
						<ul>
							<li>request_type</li>
							<li>{{log.request_type}}</li>
						</ul>
						<ul>
							<li>request</li>
							<li>{{log.request}}</li>
						</ul>
						<ul>
							<li>request_uri</li>
							<li>{{log.request_uri}}</li>
						</ul>
						<ul>
							<li>query_string</li>
							<li>{{log.query_string}}</li>
						</ul>
						<ul>
							<li>status</li>
							<li>{{log.status}}</li>
						</ul>
						<ul>
							<li>geoip_city</li>
							<li>{{log.geoip_city}}</li>
						</ul>
						<ul>
							<li>geoip_lat</li>
							<li>{{log.geoip_lat}}</li>
						</ul>
						<ul>
							<li>geoip_long</li>
							<li>{{log.geoip_long}}</li>
						</ul>
						<ul>
							<li>body_bytes_sent</li>
							<li>{{log.body_bytes_sent}}</li>
						</ul>
						<ul>
							<li>total_bytes_sent</li>
							<li>{{log.total_bytes_sent}}</li>
						</ul>
						<ul>
							<li>request_time</li>
							<li>{{log.request_time}}</li>
						</ul>
						<ul>
							<li>http_referrer</li>
							<li>{{log.http_referrer}}</li>
						</ul>
						<ul>
							<li>http_user_agent</li>
							<li>{{log.http_user_agent}}</li>
						</ul>
					</div>
				</mat-tab> -->
			</mat-tab-group>
		</div>
	</div>
</div>
