<h3>House Keeping</h3>
<div class="row">	
  <div class="col-md-8">
		<div class="form-group label-floating has-success">
			<label class="control-label">Type of Dress</label>
			      <input type="text" class="form-control" name="firstname" />
			<span class="form-control-feedback">
			<i class="material-icons">done</i>
			</span>
		</div>	  	
  </div>
  <div class="col-md-4">
		<div class="form-group label-floating has-success">
			<label class="control-label">Number of Orders</label>
			      <input type="text" class="form-control"  name="lastname" />
			<span class="form-control-feedback">
			<i class="material-icons">done</i>
			</span>
		</div>	  	
  </div>
</div>