.title{
  font-weight: 700;
  margin-bottom: 23px;
  padding-top: 60px;
  color: black;
}

.description{
  line-height: 1.4em;
  margin-bottom: 15px;
  color: #9a9a9a;
  font-weight: 300;
  padding-bottom: 50px;
  font-family: inherit;
  font-size: 1.57em;
}