

<section class="section1Back"
         style="background: url(../../../assets/img/landingTour/profileSection1.png) center center no-repeat">
</section>

<section class="section2Back">
  <div class="col-md-12 padding">
    <div class="col-md-4 text-center left_white_box">
      <img src="../../../assets/img/landingTour/girlProfile.png" class="circle_profile_img">
      <div class="col-md-12">
        <!--<div class="col-md-12">-->
        <p class="profile_name">
          Janelle Dela Cruz
        </p>

        <p class="profile_description">
          vehicula pellentesque metus varius non. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>

        <p class="profile_description">
          Vestibulum malesuada nunc id turpis fringilla condimentum. Aenean quis tellus
        </p>
        <!--</div>-->
      </div>
    </div>
    <div class="col-md-8 dark_blue_box">
      <div class="col-md-12">
        <p class="dark_blue_box_title">UPCOMING TRIPS</p>
      </div>

      <div class="col-md-12 timeline-padding">
        <div class="price">
          <ul class="deep-info">
            <li class="each-info">
              <div class="icon">
                <i class="material-icons">date_range</i>
                17 Sep 2018

                <div class="timeline-photo">
                  <div><img class="timeline_photo_box" src="../../../assets/img/landingTour/profile.png"></div>
                  <div><img class="timeline_photo_box" src="../../../assets/img/landingTour/profile.png"></div>
                  <div class="timeline_photo_box">
                    <span class="photo_box_more"> + 14</span>
                  </div>
                </div>
              </div>
              <div class="description">
                <div>
                  <!-- <i class="material-icons">{{component.icon}}</i> -->
                  <i class="material-icons info-ico">flight_takeoff</i>
                  <div class="itemText">
                    Boracay
                  </div>
                  <i class="material-icons arrow-ico">arrow_right_alt</i>
                  <div class="itemText">
                    Manila 12:08 AM FLIGHT # EK13127
                  </div>
                </div>

              </div>
            </li>

            <li class="each-info">
              <div class="icon">
                <i class="material-icons">date_range</i>
                17 Sep 2018
              </div>
              <div class="description">
                <div class="itemText">
                  <i class="material-icons info-ico">hotel</i>
                  <u>
                    Perfect Hotel Station 2
                  </u>
                  1:30 AM
                </div>

              </div>
            </li>

            <li class="each-info">
              <div class="icon">
                <i class="material-icons">date_range</i>
                17 Sep 2018
              </div>
              <div class="description">
                <div>
                  <!-- <i class="material-icons">{{component.icon}}</i> -->
                  <i class="material-icons info-ico">flight_takeoff</i>
                  <div class="itemText">
                    Boracay
                  </div>
                  <i class="material-icons arrow-ico">arrow_right_alt</i>
                  <div class="itemText">
                    Manila 12:08 AM FLIGHT # EK13127
                  </div>
                </div>

              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section3Back">
  <div class="container">
    <p class="section3Title">Trip Builder</p>
    <div class="col-md-12 padding">
      <div class="col-md-4 col-sm-4 padding section3_left_box">
        <div class="col-md-12 form-inline padding">
          <mat-form-field appearance="legacy" class="custom-input-width">
            <input matInput placeholder="TYPE OF TRIP">
            <!--<mat-icon matSuffix>flight_takeoff</mat-icon>-->

            <i class="material-icons input_ico" matSuffix>flight_takeoff</i>

          </mat-form-field>

          <mat-form-field appearance="legacy" class="custom-input-width">
            <input matInput placeholder="DATE">
            <!--<mat-icon matSuffix>flight_takeoff</mat-icon>-->

            <i class="material-icons withe-icon" matSuffix>date_range</i>

          </mat-form-field>
        </div>
        <div class="col-md-12 padding" >
          <mat-form-field appearance="legacy" class="search_input">
            <input matInput>
            <mat-icon matSuffix class="light-icon">search</mat-icon>

          </mat-form-field>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="col-md-12">
          <div class="price">
            <ul class="deep-info">
              <li class="each-info">
                <div class="icon">
                  <i class="material-icons">date_range</i>
                  17 Sep 2018
                </div>
                <div class="description">
                  <div>
                    <!-- <i class="material-icons">{{component.icon}}</i> -->
                    <i class="material-icons info-ico">flight_takeoff</i>
                    <div class="itemText">
                      Boracay
                    </div>
                    <i class="material-icons arrow-ico">arrow_right_alt</i>
                    <div class="itemText">
                      Manila 12:08 AM FLIGHT # EK13127
                    </div>
                  </div>

                </div>
              </li>
              <li class="each-info">
                <div class="icon">
                  <i class="material-icons">date_range</i>
                  <input class="custom_input">
                </div>
              </li>


            </ul>
          </div>
          <div class="price2">
            <ul class="deep-info">
              <li class="each-info"></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<footer></footer>
