<h2>
	Boat/Ship
</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form>
            	<div class="row">
            		<div class="col-md-5">
            			<h3>General Info</h3>
            		</div>
            		<div class="col-md-3">
            			<div class="form-group form-black label-floating is-empty">
                            <label class="control-label">From</label>
                            <input type="text" class="form-control" >
                        </div>
            		</div>
            		<div class="col-md-3">
            			<div class="form-group form-black label-floating is-empty">
                            <label class="control-label">To</label>
                            <input type="text" class="form-control" >
                        </div>
            		</div>

            		<div class="col-md-1">
            			<div class="form-group" style="margin-top: 46px;">
                            <i class="material-icons">repeat</i>
                        </div>
            		</div>
            	</div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Company</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Going Date</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Time</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Arrival Date</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Time</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Going Date</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Time</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Arrival Date</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Time</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-2">
                    	</div>
	                    <div class="col-md-1">
	                		<i class="material-icons hidden">check_circle</i>
	                		<div class="form-group icon-selector">
	                            <i class="material-icons">airline_seat_legroom_extra</i>
	                            <div class="row">
	                            	<div class="col-md-12">
	                            		Ordinary
	                            	</div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-1">
	                    	<i class="material-icons checked">check_circle</i>
	                    	<div class="form-group icon-selector">
	                            <i class="material-icons">airline_seat_legroom_reduced</i>
	                            <div class="row">
	                            	<div class="col-md-12">
	                            		Premium
	                            	</div>
	                            </div>
	                        </div>
	                        
	                    </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-2">
                	</div>
                    <div class="col-md-10">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Pick up Address</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                </div>

                <hr>

                <h3>Addons</h3>
                <div class="row">
                	<div class="col-md-2">
                		
                    </div>
                    <div class="col-md-2">
                    	<div class="form-group icon-selector">
                            <i class="material-icons">beenhere</i>
                            <div class="row">
                            	<div class="col-md-12">
                            		Insurance
                            	</div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-1">
                    	<div class="form-group icon-selector">
                            <i class="material-icons">event_seat</i>
                            <div class="row">
                            	<div class="col-md-12">
                            		Seat Pick
                            	</div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <hr>

                <h3>Pricing Info</h3>

                <div class="row">
                	<div class="col-md-2">
                        
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Solo Price</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Bulk Price</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Deadline</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <!-- <div class="row">
                    	<div class="col-md-2">
                    	</div>
                    	<div class="col-md-10">
                    		<i>*Select if this component will get used in a package , solo or both.</i>
                    	</div>
                    </div> -->
                    <div class="row">
                    	<div class="col-md-2">
                    	</div>
                    	<div class="col-md-1">
                			<i class="material-icons hidden">check_circle</i>
                			<div class="form-group icon-selector">
		                            <i class="material-icons">person</i>
		                            <div class="row">
		                            	<div class="col-md-12">
		                            		Solo
		                            	</div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-md-1">
		                    	<i class="material-icons checked">check_circle</i>
		                    	<div class="form-group icon-selector">
		                            <i class="material-icons">people</i>
		                            <div class="row">
		                            	<div class="col-md-12">
		                            		Package
		                            	</div>
		                            </div>
		                        </div>
		                        
		                    </div>
	                    </div>

                </div>

                <button type="submit" class="btn btn-danger pull-right">Submit Component</button>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar"  style="width: 160px;height: 130px;display: flex;justify-content: center;align-items: center">
                    <a>
                        <i class="material-icons" style="font-size: 60px">directions_boat</i>
                    </a>
                </div>

                <div class="content">
                	<i class="material-icons">repeat</i>
                    <h6 class="category text-gray">CEO / Co-Founder</h6>
                    <div class="card-title">
                    	<div class="row">
                    		<div class="col-md-4">
                    			Manila
                    			<div class="row">
                    				<div class="col-md-12" style="font-size: 10px">
                    					12 June 2018
                    				</div>
                    			</div>
                    		</div>
                    		<div class="col-md-4">
                    			<i class="material-icons">arrow_forward_ios</i>		
                    		</div>
                    		<div class="col-md-4">
                    			Boracay
                    			<div class="row">
                    				<div class="col-md-12" style="font-size: 10px">
                    					12 June 2018
                    				</div>
                    			</div>
                    		</div>		
                    	</div>
                    	
                    </div>
                    <br>
                    <br>
                    <div class="card-title">
                    	<div class="row">
                    		<div class="col-md-4">
                    			Manila
                    			<div class="row">
                    				<div class="col-md-12" style="font-size: 10px">
                    					12 June 2018
                    				</div>
                    			</div>
                    		</div>
                    		<div class="col-md-4">
                    			<i class="material-icons">arrow_back_ios</i>		
                    		</div>
                    		<div class="col-md-4">
                    			Boracay
                    			<div class="row">
                    				<div class="col-md-12" style="font-size: 10px">
                    					12 June 2018
                    				</div>
                    			</div>
                    		</div>		
                    	</div>
                    	
                    </div>
                    <hr>
                    <p class="card-content">
                        Terms and conditions apply
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">Submit</a>
                </div>
            </div>
        </div>
    </div>
	</div>
