<div class="section3" id="book-now">
  <div class="book-demo">
		<span class="t">
			Book a demo today
		</span>
    <div class="form">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email Address">
      <textarea name="" id="" cols="30" rows="10" placeholder="Inquiry"></textarea>
      <re-captcha  site_key="6LdYMH4UAAAAAMPluqvLFv6lU37I-h1uXbZJZvBx"></re-captcha>
      <div class="book-demo-submit">
        <div>
          Submit
        </div>
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>