<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let unit of resources">
        <div class="card card-stats" >
            <div class="card-content">
                <p class="category">{{unit.title}}</p>
                <h3 class="title">49/50<small>GB</small></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
            </div>
        </div>
    </div>
</div>