.go-back{
  margin-top: -35px;
  margin-bottom: 35px;
  margin-left: 14px;
  float: left;
  cursor: pointer;
  padding: 13px 0px;
  border-radius: 3px;
  padding-right: 9px;
  &:hover{
    background-color: #e0e0e0;
  }
  i{
    vertical-align: middle;
    font-size: 33px;
  }
}


.top-spacing {
  margin-top: 220px;
}

.top-spacing2 {
  margin-top: 100px;
}

.card-stats {
  .card-content {
    text-align: left;
  }
  .card-header{
    cursor: pointer;
  }
  /deep/.card-header i {
    font-size: 20px;
    line-height: unset;
    width: unset;
    height: unset;
  }
}

.padding-left{
  padding-left: 30px;
}
/*custom-checkbox*/
.custom-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #f8f8f8;
  border: 1px solid;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
  background-color: #BEEAE2;
  border: 1px solid transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  border: solid silver;
  display: block;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
  left: 8.5px;
  top: 5px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#modeA {
  .panel {
    background-color: transparent;
    border: 1px solid rgba(184, 183, 183, 1);
    border-radius: 10px;
    width: 472px;
    .panel-body {
      padding-top: 0;
      padding-left: 0px;
      padding-right: 0px;
    }
    .item-card {
      padding-top: 50px;
      padding-bottom: 35px;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(184, 183, 183, 1);
      }
      .item-card-title {
        font-size: 30px;
        color: rgba(117, 117, 117, 1);
      }
      .item-card-subTitle {
        font-size: 12px;
        color: rgba(117, 117, 117, 1);
      }
    }
    .progress-bar-color {
      background-color: rgba(226, 201, 67, 1);
    }
    .progress {
      height: 4px;
      margin-bottom: 0;
      margin-right: 10px;
      margin-left: 10px;
    }
    .padding {
      padding: 0;
    }
  }
}

.footer-position {
  display: inline-flex;
  .footer-text {
    font-size: 22px;
    color: rgba(117, 117, 117, 1);
    margin-left: 10px;
    line-height: 30px;
    a {
      color: rgba(34, 88, 146, 1);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.footer-skip {
  direction: rtl;
  .btn-footer {
    background: #67AD5B;
    color: white;
  }
  .skip-text {
    color: rgba(34, 88, 146, 1);
    text-decoration: underline;
    cursor: pointer;
    font-size: 24px;
    margin-right: 15px;
  }
}


.icon-position {
  position: absolute;
  top: 25px;
  right: -65px;
  display: inline-flex;
  .ico-back {
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid transparent;
    &:hover {
      background-color: #000;
      border: 3px solid #c5c5c5;
      color: white;
    }
    .ico {
      position: relative;
      top: 4px;
      left: 9px;
    }
  }
}


.image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 4.25%;
  right: 0;
  background-color: rgba(241, 242, 242, 0.54);
  overflow: hidden;
  width: 100px;
  height: 0;
  transition: .5s ease;
  border-radius: 50%;
  cursor: pointer;
}

.avatar:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.btn.btn-primary.pull-left{
  &.social{
    width: 330px;
    display: flex;
    justify-content: space-evenly;
  }
  &.telegram{
    background-color: #29A0D9;
  }
  &.facebook{
    background-color: #3E568F;
  }
  &.pinterest{
    background-color: #C61F25;
  }
  &.linkedin{
    background-color: #2464AE;
  }
  &.twitter{
    background-color: #04A7E5;
  }
}
.box-padding{
  padding-left: 50px;
}
