<div class="container-fluid  social-media">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-11">
                <div class="img-info">
                  <img src="../../assets/images/photo1.jpg" class="img">

                  <div class="img-text-info">
                    <p>Next Journey</p>
                    <p>--</p>
                    <p>6d</p>
                  </div>
                </div>
              </div>
              <div class="col-md-1 text-right">
                <i class="fa fa-ellipsis-h"></i>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 details">
                <p>Tara, Are you Ready?</p>
                <p class="left">for as low as PHP120.02</p>
                <p class="left">and still 10% OFF</p>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <img src="../../assets/images/photo2.jpg" class="big-img">
            </div>
          </div>

          <div class="col-md-12">
            <div class="row details-back">
              <div class="col-md-11">
                <h4>Lets go Boracay</h4>
                <h6>nextjourney.co</h6>
              </div>
              <div class="col-md-1 text-right">
                <i class="fa fa-bookmark-o icons"></i>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row item-icon">
              <div class="col-md-12" style="display: flex">
                <div class="item-icon-left">
                  <i class="fa fa-thumbs-o-up"></i>
                  <span>
				            like
				          </span>
                </div>

                <div class="item-icon-left">
                  <i class="fa fa-comment"></i>
                  <span>
				            Comment
				          </span>
                </div>
                <div>
                  <i class="fa fa-share "></i>
                  <span>
				            share
				          </span>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div class="row  padding">
              <div class="col-md-12">
                <i class="fa fa-area-chart"></i>
                <span style="font-weight: bold">13 views</span>
                <span>of your post in the feed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
